<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KH Home page</title>
<style>
	#boardList {text-align: center;}
	#boardList>tbody>tr:hover{cursor:pointer;}
</style>
<script src="../static/js/googleApi.js"></script>
</head>
<body>
	   
	<!--<jsp:include page="common/header.jsp" />-->
	<div th:include="common/header"></div>
	
	<div class="outer">
	</div>
	<!--  <jsp:include page="common/footer.jsp" />-->
	<div th:include="common/footer"></div>
</body>
</html>